header{
    background-image: url("../img/pattern.png");
    background-size: 20%;
    background-repeat: repeat-x;
    background-color: rgb(0, 136, 247);
}

.logo{
    width: 200px;
    height: 100px;
}
.title{
    font-size: 30px;
}
article
.author{
    color: #646464;
}
.marked{
    background-color: yellow;
}
#blue{
    color: rgb(6, 203, 252);
}
table{
    text-align: left;
}
thead{
    color: white;
    background-color: rgb(0, 110, 255);
}
.dispari{
    background-color: rgb(2, 188, 235);
}
.white{
    color: white;
}

.ads{
    color: white;
    text-align: center;
}
#ads-title{
    color: #646464
}
#img-1{
   width: 200px;
   height: 150px;
   background-image: url(../img/monitor.jpg);
}
#img-2{
    width: 200px;
    height: 150px;
    background-image: url(../img/graph.jpg);
 }
